html, body {
  margin: 0;
  padding: 0.5rem;
}

body {
  font-size: 1rem;
  background: #fff;
}

h1 {
  margin: 0 0 1rem 0;
}

p {
  font-size: inherit;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}